@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Bai Jamjuree', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'Bai Jamjuree', sans-serif;
}

input {
  font-family: 'Bai Jamjuree', sans-serif;
  box-sizing: border-box;
}


@import "./component/app/App.scss";
@import "./component/login/Login.scss";
@import "./component/home/Home.scss";
